/* GENERAL */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  min-height: 100vh;
  overscroll-behavior: none;
  user-select: none;
  color: var(--text);
}
svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}
p {
  font-size: 14px;
}

/* COLOR SCHEME */
:root {
  --green-rgb: 27, 179, 40;
  --green: #1bb328;
  --green-1: #aaf2ae;
  --green-2: #52cc5a;
  --green-3: #1bb328;
  --green-4: #0d8017;
  --red: #cc3529;
  --red-1: #ffbfb3;
  --red-2: #f2513d;
  --red-3: #cc3529;
  --red-4: #991b0f;
  --text: #000000;
  --text-1: #000000;
  --text-2: #505050;
  --text-3: #a0a0a0;
  --text-4: #d0d0d0;
  --background-rgb: 255, 255, 255;
  --background: #ffffff;
  --background-1: #ffffff;
  --background-2: #eaeaea;
  --background-3: #cecece;
  --background-4: #b0b0b0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --green: #24b32f;
    --green-1: #1f6624;
    --green-2: #1f9928;
    --green-3: #29cc35;
    --green-4: #80ff8b;
    --red: #cc3529;
    --red-1: #802e26;
    --red-2: #a62b21;
    --red-3: #d92616;
    --red-4: #ff8b80;
    --text: #f0f0f0;
    --text-1: #f0f0f0;
    --text-2: #d0d0d0;
    --text-3: #b0b0b0;
    --text-4: #8a8a8a;
    --background: #202020;
    --background-1: #202020;
    --background-2: #404040;
    --background-3: #606060;
    --background-4: #808080;
    --background-rgb: 32, 32, 32;
  }
}
@media (prefers-color-scheme: light) {
}

/* BUTTONS */

.button,
button {
  font-size: 14px;
  color: var(--text);
  border-radius: 1000px;
  outline: none;
  border: var(--green-2) 2px solid;
  background-color: var(--background);
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out, border-width 100ms ease-in-out;
}
.button:hover,
button:hover {
  border-color: var(--green-3);
  background-color: var(--green-1);
}
.button:active,
button:active {
  border-color: var(--green-4);
  background-color: var(--green-2);
  transform: scale(0.95, 0.95);
  transition-duration: 100ms;
}
.button.focus:focus,
button.focus:focus {
  border-color: var(--green-3);
  border-width: 5px;
}
.button:disabled,
button:disabled {
  cursor: default;
  opacity: 0.3;
}
.button:disabled:hover,
button:disabled:hover {
  background-color: var(--background);
  border-color: var(--red-3);
}

.danger-button {
  border-color: var(--red-2);
}
.danger-button:hover {
  border-color: var(--red-3);
  background-color: var(--red-1);
}
.danger-button:active {
  border-color: var(--red-4);
  background-color: var(--red-2);
}
.danger-button.focus:focus {
  border-color: var(--red-3);
}
.danger-button:disabled:hover {
  border-color: var(--green-3);
}
button.unstyled-button {
  background-color: transparent;
  border: none;
  padding: 0px;
}

/* TRANSITIONS */
.settings > .panel.animate-in {
  opacity: 1;
  visibility: visible;
  transition-property: all, transform;
  transition-duration: 200ms;
  transition-timing-function: linear, ease-out;
}
.settings > .panel.animate-out {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition-property: opacity, visibility, transform;
  transition-duration: 200ms, 200ms, 200ms;
  transition-timing-function: linear, linear, ease-in;
}

.settings-toggle {
  transition-property: fill-opacity, fill, filter, transform;
  transition-duration: 200ms;
  transition-timing-function: linear, linear, linear, ease-in-out;
  fill-opacity: 0.5;
  fill: white;
  filter: drop-shadow(0 0 5px #000000a0);
}
button:hover > .settings-toggle,
.settings-toggle:hover {
  fill-opacity: 1;
  transform: rotate(15deg);
}
button:hover > .settings-toggle.enabled,
.settings-toggle.enabled:hover {
  transform: rotate(75deg);
}
.settings-toggle.enabled {
  fill: var(--text);
  transform: rotate(90deg);
  filter: none;
}

/* LAYOUT */
.list {
  display: flex;
  flex-flow: column nowrap;
}
.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.left-align {
  text-align: left;
}

/* Components */
.panel {
  background-color: rgba(var(--background-rgb), 0.5);
  /* padding: 10px; */
  border: 10px solid transparent;
  border-radius: 20px;
}

/* LIST */
.v-list {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  overflow-y: auto;
  gap: 20px;
}
.h-list {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  overflow-x: auto;
  gap: 5px;
}
.h-list::-webkit-scrollbar,
.v-list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.h-list::-webkit-scrollbar-thumb,
.v-list::-webkit-scrollbar-thumb {
  background: rgba(var(--green-rgb), 0.5);
  border-radius: 5px;
}
.h-list::-webkit-scrollbar-thumb:hover,
.v-list::-webkit-scrollbar-thumb:hover {
  background: var(--green);
}
.h-list.scroll-padding {
  padding-bottom: 3px;
  border-color: transparent;
  border-width: 10px 10px 3px 10px;
  border-style: solid;
}
.flex-item {
  flex: 1 1 0;
}

.image {
  background-size: cover;
  background-position: center center;
}

/* UNIQUE COMPONENTS */
.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  transition: opacity 2s ease-in-out;
  background-color: var(--background);
}
.settings > .panel {
  width: 500px;
  max-height: 800px;
  margin: 10px;
}
.clock {
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 5vw;
  font-family: sans-serif;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
