body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2e2e2; /*TODO: change background color based on dark/light mode? */
  min-height: 100vh;
  overscroll-behavior: none;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  body,
  .background {
    background-color: #2e2e2e;
  }
}

@media (prefers-color-scheme: light) {
  body,
  .background {
    background-color: #e2e2e2;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

hr {
  width: 30%;
  height: 0px;
  opacity: 0.5;
  border-style: dashed;
  border-width: 0px 3px 2px 0px;
  border-color: green;
}

svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}

.danger-button,
.styled-button {
  border-radius: 1000px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border: 2px solid;
  background-color: white;
  transition: background-color 300ms ease-out, border-color 300ms ease-out, border-width 100ms,
    opacity 300ms;
}
.button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: center;
}
.danger-button:disabled:hover,
.styled-button {
  border-color: rgb(54, 224, 54);
}
.styled-button:disabled:hover,
.danger-button {
  border-color: red;
}
.styled-button:hover {
  background-color: lightgreen;
  border-color: green;
}
.danger-button:hover {
  background-color: lightpink;
  border-color: brown;
}
.styled-button:active {
  background-color: green;
  border-color: green;
  transition: background-color 100ms, border-color 100ms;
}
.danger-button:active {
  background-color: brown;
  border-color: brown;
  transition: background-color 100ms, border-color 100ms;
}
.danger-button:disabled,
.styled-button:disabled {
  cursor: default;
  opacity: 0.3;
}
.button:focus,
.danger-button:focus,
.styled-button:focus {
  outline: none;
}
.styled-button.focus:focus {
  border-color: green;
  border-width: 5px;
}
.danger-button.focus:focus {
  border-color: brown;
}

/* POSITIONING */

/* TRANSITIONS */
.settings > .panel.animate-in {
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility, transform;
  transition-duration: 200ms, 200ms, 200ms;
  transition-timing-function: linear, linear, ease-out;
}
.settings > .panel.animate-out {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition-property: opacity, visibility, transform;
  transition-duration: 200ms, 200ms, 200ms;
  transition-timing-function: linear, linear, ease-in;
}
.opacity {
  fill-opacity: 0.5;
  transition-property: fill-opacity;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
.opacity:hover {
  fill-opacity: 1;
}
.rotate-on {
  transition: transform 200ms ease-in-out;
  transform: rotate(45deg);
}
.rotate-off {
  transition: transform 200ms ease-in-out;
}
.settings-toggle {
  transition-property: fill-opacity, fill, filter, transform;
  transition-duration: 200ms;
  transition-timing-function: linear, linear, linear, ease-in-out;
  fill-opacity: 0.5;
  fill: white;
  filter: drop-shadow(0 0 5px #000000a0);
}
button:hover > .settings-toggle,
.settings-toggle:hover {
  fill-opacity: 1;
  transform: rotate(10deg);
}
button:hover > .settings-toggle.enabled,
.settings-toggle.enabled:hover {
  transform: rotate(35deg);
}
.settings-toggle.enabled {
  fill: black;
  transform: rotate(45deg);
  filter: none;
}

/* LOOKS */
.stadium {
  border-radius: 10000px;
}
.round,
.round1 {
  border-radius: 20px;
}
.round2 {
  border-radius: 15px;
}
.round3 {
  border-radius: 10px;
}

/* LAYOUT */
.list {
  display: flex;
  flex-flow: column nowrap;
}
.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.left-align {
  text-align: left;
}

/* Components */
.panel {
  background-color: #ffffffa0;
  border: 10px solid transparent;
  border-radius: 10px;
}
.v-list {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;
  overflow-y: auto;
  gap: 20px;
}
.h-list {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  overflow-x: auto;
  gap: 5px;
}
.h-list::-webkit-scrollbar,
.v-list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.h-list::-webkit-scrollbar-thumb,
.v-list::-webkit-scrollbar-thumb {
  background: rgba(0, 128, 0, 0.5);
  border-radius: 5px;
}
.h-list::-webkit-scrollbar-thumb:hover,
.v-list::-webkit-scrollbar-thumb:hover {
  background: green;
}
.h-list.scroll-padding {
  padding-bottom: 3px;
  border-color: transparent;
  border-width: 10px 10px 3px 10px;
  border-style: solid;
}
.flex-item {
  flex: 1 1 0;
}
.image {
  background-size: cover;
  background-position: center center;
}

/* Unique components (should I use ids?) */
.background {
  overflow: unset;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  transition: opacity 2s ease-in-out;
}
.settings > .panel {
  width: 500px;
  max-height: 800px;
  margin: 10px;
}
.clock {
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 5vw;
  font-family: sans-serif;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
